@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  /* --color-primary: #ffc49b; */
  --color-primary: #d6dbe2;
  --color-secondary: #ffe9c2;
  --color-tertiary: #fff8eb;
  --color-text: #000c14;
  --color-warn: #cc5500;
  /* --color-blue: #adb6c4; */
  /* --color-blue: #d6dbe2; */
  --color-accent: #ffc49b;

  --list-padding: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-text);

  display: grid;
  grid:
    "header header header header" auto
    "...... lists active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  margin: -0.1em 0 0.5em;
}

.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7;
  padding-left: 0;
  list-style: none;
}

.task-form {
  margin-top: 50px;
  margin-bottom: 25px;
}

form {
  display: flex;
}

.material-symbols-outlined {
  height: 24px;
  width: 24px;
}

.btn,
.btn.task {
  display: flex;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 100px;
  padding: 2px 2px;
  margin-right: 10px;
  border: 1px solid #000c14;
  justify-content: center;

  transition: all 0.3s;
}

.btn.task {
  background-color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-tertiary);
}

.new {
  background: transparent;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  /* font-size: 1.2rem; */
  font-size: 1rem;

  outline: none;
  order: 2;
}

.new:focus {
  background-color: rgba(255, 248, 235, 0.7);
}

.new:focus::placeholder {
  opacity: 0.2;
}

.active-list {
  width: 7.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--color-accent);
  padding: 3px 6px;
  border-radius: 10px;
}

.todo-list {
  grid-area: active;
  /* padding: var(--list-padding); */
  /* padding: 10px 15px; */
  background-color: var(--color-secondary);
  border-radius: 10px;
  color: var(--color-text);
}

.todo-header {
  background: var(--color-accent);
  padding: var(--list-padding);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-title {
  margin: 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--list-padding);
}
