@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  /* --color-primary: #ffc49b; */
  --color-primary: #d6dbe2;
  --color-secondary: #ffe9c2;
  --color-tertiary: #fff8eb;
  --color-text: #000c14;
  --color-warn: #cc5500;
  /* --color-blue: #adb6c4; */
  /* --color-blue: #d6dbe2; */
  --color-accent: #ffc49b;

  --list-padding: 1.8rem;
  --checkbox-size: 25px;
  --border-radius-small: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-text);

  display: grid;
  grid:
    "header header header header" auto
    "...... lists active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(5vw + 2rem);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  margin: -0.1em 0 0.5em;
}

.all-tasks {
  grid-area: lists;
  margin-left: 10px;
}

.task-list {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7;
  padding-left: 0;
  list-style: none;
}

/* .task-list-title */

.list-name {
  display: block;
  width: 130px;
  padding: 3px 9px;
  cursor: pointer;
  transition: transform 0.2s;
}

.list-name::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-accent);
  transition: width .3s;
}

.list-name:hover::after {
  width: 100%;

}

.list-name:focus,
.list-name:active {
}

.task-form {
  margin-top: 50px;
  margin-bottom: 25px;
}

form {
  display: flex;
}

.material-symbols-outlined {
  height: 24px;
  width: 24px;
}

.btn,
.btn.task {
  display: flex;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 100px;
  padding: 2px 2px;
  margin-right: 10px;
  border: 1px solid var(--color-text);
  justify-content: center;

  transition: all 0.3s;
}

.btn.task-create {
  background-color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-tertiary);
}

.btn.delete {
  display: inline-block;
  font-weight: 500;
  background-color: var(--color-accent);
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: 0 8px 8px -4px rgba(0, 12, 20, 0.2);
  transition: all 0.2s ease-in-out;
}

.btn.delete:hover {
  background-color: #ffa768;
}

.btn.delete:active {
  background-color: rgba(255, 167, 104, 0.8);
  box-shadow: none;
}

.new {
  background: transparent;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  /* font-size: 1.2rem; */
  font-size: 1rem;

  outline: none;
  order: 2;
}

.new:focus {
  background-color: rgba(255, 248, 235, 0.7);
}

.new:focus::placeholder {
  opacity: 0.2;
}

.active-list {
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
}

.todo-list {
  grid-area: active;
  margin-right: 10px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  color: var(--color-text);

  box-shadow: 10px 10px 30px 4px rgba(0, 12, 20, 0.2);
}

.todo-header {
  background: var(--color-accent);
  padding: var(--list-padding);

  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-title {
  margin: 0 1rem 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--list-padding);
}

.task {
  display: block;
  margin-bottom: 15px;
  position: relative;
  backface-visibility: hidden;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -8px;
  height: 1px;
  background: var(--color-accent);
  opacity: 1;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}

.custom-checkbox {
  display: inline-block;
  height: 26px;
  width: 26px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-tertiary);
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0.2rem;
}

.custom-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 0;
  width: 10px;
  height: 16px;
  border: solid #ffa768;
  padding-left: 10px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.1s;
}

.checkbox-input:checked ~ .checkbox-label .custom-checkbox::after {
  opacity: 1;
}

.task label::after {
  content: "";
  position: absolute;
  left: 35px;
  right: 0;
  height: 3px;
  top: 15px;
  background: rgba(0, 0, 0, 0.2);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.checkbox-input:checked ~ .checkbox-label::after {
  transform: scaleX(1);
}
